body{
  background-color: #333;
  color: white;
  text-align: center;
}

h1{
  margin-bottom: 0;
}

h3{
  margin-top: 0;
}

dialog{
  background-color: black;
  border: 2px solid white;
  color: white;
  width: 400px;
  max-width: 90%;
}

dialog button{
  background-color: #333;
  border: 2px solid white;
  color: white;
}

#app{
  max-width: 600px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin: auto;
}

.row{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}

.cell{
  border: 2px solid white;
  aspect-ratio: 1;
}

.piece-part{
  background-color: white;
}

.bottom-part{
  background-color: #999;
}